
.list-container {
width: 100%;
max-width: 1500px;
height: 330px;
display: block;
margin: -40px auto 100px;

/* padding-left: 10px;
padding-right: 10px; */
}

.list-container a {
text-decoration: none;
}

.titles {
color: black;
text-align: left;
margin-left: 10px;
margin-top: 30px;
padding-top: 50px;
margin-bottom: 5px;
}

.list-card {
width: 100%;
display: flex;
overflow-x: auto;
overflow-y: scroll;
margin: auto;
margin-left: 5px;
background: rgb(200,70,70);
background: linear-gradient(90deg, rgba(200,70,70,0) 76%, rgba(200,70,70,1) 100%);
}

.list-card > div {
height: 290px;
margin: 10px;
font-size: 30px;
border-radius: 0px;
}

/* width cards */
.width-cards {
width: 250px;
z-index: 9999;
}

.list-card a {
width: 250px;
height: 290px;
margin: 10px;
font-size: 30px;
border: none;
outline: none;
}

#main-link {
border-top-left-radius: 10px;
border-top-right-radius: 10px;     
background-position: center;
background-size: 250px 290px;
background-repeat: no-repeat;
}

a .circlet {
width: 22px;
height: 22px;
padding: 3px;
float: right;
font-size: 14px;
font-weight: 700;
margin-top: 10px;
margin-right: 8px;
border-radius: 23px;
text-align: center;
color: whitesmoke;
line-height: 1.5;
background-color: rgb(15, 33, 71);
border: 0px solid rgb(51, 139, 51);
}



.titulo-box {
background-color: rgba(0, 0, 0, 0.7);
width: 300px;
height: 55px;
display: none;
margin: 235px auto 0;
position: relative;
font-weight: 700;
font-family: 'Bebas Neue', cursive;
font-family: 'Sourc Sans Pro', sans-serif;
}

.titulo {
color: whitesmoke;
display: block;
font-size: 15px;
text-align: center;
line-height: 1.5;
text-align: center;  
padding: 10px;
}

.titulo-box:hover, .titulo :hover {
transition: 1s;
background-color: rgba(0, 0, 0, 0.9);
}

#loadingTheme {
width: 100%;
max-width: 150px;
height: 100px;
margin: 100px auto;
display: block;
border-radius: 50px;
}

::-webkit-scrollbar {
width:  7px;
height: 5px;
}

    
::-webkit-scrollbar-track { 
background: whitesmoke;
}

::-webkit-scrollbar-thumb {
background:rgba(200, 70, 70);
border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
background: #252e39;
}




