
.Header-box {
width: 100%;
background-color: #252e39;
background: white;
border-bottom: 1px solid rgb(241,241,241);
}
.Header-content {
padding-top: 20px;
height: 70px;
}

.Header-content p {
color: rgba(200, 70, 70);
width: auto;
text-align: center;
margin: auto;
display: block;
margin-top: 5px;    
font-size: 30px;
font-family: 'Bebas Neue', cursive;
background: transparent;
cursor: pointer;
}

#goBack {
width: 150px;
height: 50px;
border: 1px solid rgb(200, 70, 70);
outline: 0;
margin: auto;
display: block;
background: transparent;
line-height: 1;
border-radius: 5px;
border-bottom: 1px solid rgba(200, 70, 70);
color: rgb(200, 70, 70);
}

Header a {
text-decoration: none;
}

